.container {
    display: flex;
    width: 80%;
    height: 500px;
    border: 5px solid rgb(255, 255, 255);
    background-color: black;
    color: white;
    border-radius: 20px;
    border-radius: 30px;
    margin-left: 150px;
    margin-top: 50px;


}

.image {
    size: 350px;
    height: 480px;
    padding-top: 20px;
    padding-right: 100px;
}





.thumbnail {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    padding-left: 100px;
    padding-top: 30px;
    width: 50%;
}

#para {
    padding-left: 100px;
    width: 50%;
    margin-top: -8px;
}



.sidebox {

    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: white;
    padding-left: 10px;
    padding-top: 15px;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 10px;
    color: black;
    margin-left: 40px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.sideboxfull {
    border: 1px solid black;
    height: 240px;
    width: 250px;
    background-color: black;
    margin-top: 50px;
    border-radius: 15px;
    margin-left: 160px;
    border: 5px solid red;
    justify-content: center;
    align-items: center;
}

.videos {
    width: 250px;
    height: 60%;
    margin-left: 50px;
    margin-top: 50px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 60px;

    /* border: 1px solid rgb(235, 223, 223); */
    border-radius: 10px;

}

.photo {
    width: 80px;
    padding-right: 10px;
    padding-left: 10px;

}

.photos {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

}

.mainfeature {
    display: flex;
    margin-top: 50px;
    width: 80%;
}





.box {
    border: 1px solid rgb(238, 233, 233);
    border-radius: 10px;
}


.bloginfo {
    padding-left: 45px;
    padding-right: 20px;
}

#date {
    padding-left: 10px;
    color: rgb(103, 95, 95);
}

/* footer tag
............................................ */
.foot {

    height: 400px;
    width: 1500px;
    background-color: black;
    margin-top: 100px;


}


.footertext {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    padding-top: 100px;
    text-align: center;
    color: rgb(168, 0, 0);
}

.horizontal {
    color: rgb(130, 20, 20);
    width: 1000px;
}

.menu {

    display: flex;
    justify-content: center;
    color: aliceblue;
    list-style: none;

}

.menu li {
    padding: 0 1%;
}